.countriesList{
    display: flex;
}
.unSelectedCountry,
.selectedCountry{
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    margin-top: 1rem;
    margin-right: 0.25rem;
    border: 1px solid #999;
    cursor: pointer;
}
.selectedCountry{
    background-color: #fff;
    border: 2px solid #777;
  
}
.root_countrySelection{
    border: 2px solid #999;
    width: 50%;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem;
    z-index: 2;
    background-color: #ccc;
}
.hdr_countrySelection{
    text-decoration: underline;
    color: #777;
    margin-bottom: 0.25rem;
    text-underline-offset: 0.25rem;
}