.root_form {
    background-color: lightgray;
    padding: 1rem 2rem;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.root_flex {
    display: flex;
    justify-content: space-between;
}

.root_countryList {
    display: flex;
}
.tile_country{
    border: 1px solid ;
    border-radius: 1rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.625rem;
    margin-right: 0.5rem;
}