.root_form {
    background-color: lightgray;
    padding: 1rem 2rem;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.root_flex {
    display: flex;
    justify-content: space-between;
}

.root_countryList {
    display: flex;
    flex-wrap: wrap;
}

.root_dataSetList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.countryTile,
.countryTileSelected {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.625rem;
    margin-right: 0.5rem;
}
.countryTileSelected{
    border: 1px solid #333;
    background-color: #eee;
}

.root_datasetDetail,
.root_datasetDetailSelect {
    display: flex;
    background-color: #ddd;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 42%;
}

.root_datasetDetailSelect {
    border: 2px solid #333;
    background-color: #eee;
}

.root_datasetDetail img,
.root_datasetDetailSelect img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.lbl_datasetDetail {
    font-size: 0.8rem;
    font-weight: bold;
}

.val_datasetDetail {
    font-size: 0.75rem;
}

.root_buttons {
    display: flex;
    justify-content: end;
}

.root_buttons button {
    cursor: pointer;
    width: 6rem;
    margin-left: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 0;
}
.btn_edit{
    background-color: yellow;
}
.btn_delete{
    background-color: red;
    color: #fff;
}
.btn_save{
    background-color: green;
    color: #fff;
}