.root_buyOrderCard{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 4rem;
}
.lbl_buyOrderCard{
    font-size: 1rem;
    text-decoration: underline;
    color: red;
    margin-bottom: 0.5rem;
}
.hdr_buyOrderList{
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    margin-bottom: 1rem;
}
.count_buyOrderList{
    margin: 0 0 -0.5rem 4rem;
    font-size: 0.8rem;
}